#object {
	height:50em;
	width:50em;
	background-image:url(/media/fifty/object.png);
	background-size:cover;
	margin:auto;
}

.centered {
	/*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}